@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

html {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  border: none;
}

*:focus {
  outline: none;
}

.container {
  display: flex;
  flex-direction: row;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
} 

header {
  padding-left: 20px;
  width: 40%;
  min-height: 100vh;
  height: auto;
  background-color:rgb(188, 231, 188);
}

header h1 {
  font-size: 70pt;
  font-weight: 300;
  font-style: italic;
}

article {
  width: 45%;
  background-color: rgb(216, 253, 224);
  padding: 15px;
}

article h2 {
  font-size: 40pt;
  font-weight: 400;
  font-style: italic;
}

article h3 {
  font-size: 30pt;
  font-weight: 300;
}

details {
  background-color: rgba(255, 255, 255, .8);
  padding: 30px;
  border-radius: 15px;
  font-size: 15pt;
  margin: 10px auto;
  width: 80%;
}

details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  0%    {opacity: 0; margin-left: -10px}
  100%  {opacity: 1; margin-left: 0px}
}

details details {
  margin-left: 10px;
  width: 80%;
  background: linear-gradient(120deg, rgba(0,0,0,.1), rgba(0,0,0,.3));
}

footer {
  display: flex;
  background: linear-gradient(135deg, #fff,rgba(0,0,0,.1));
  width: 15%; 
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

footer img {
  width: 90px;
  border-radius: 50%;
  border: 3px solid rgba(0,0,0,1);
}

.github_adress {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a.social {
  color: black;
}

img.soil {
  width: 90%;
  margin: 15px;
  border-radius: 10px;
}


@media (max-width: 900px) {
  article, footer, header {
    width: 100%;
    padding: 0;
  }
  header {
    min-height: auto;
  }
  h1, h2, h3 {
    text-align: center;
  }

  header h1 {
    font-size: 28pt;
  }
  article h2 {
    font-size: 25pt;
  }
  article h3 {
    font-size: 22pt;
  }

  details {
    margin: 10px auto;
  }
  .container {
    flex-direction: column;
  }
  footer {
    flex-direction: row;
    padding: 30px 0;
    margin-bottom: -20px;
  }
}
