@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  border: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

.background-top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 30vh;
  background-color: rgb(206, 57, 57);
  border-radius: 0 0 50% 0 / 0 0 100% 0;
}

.background-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 30vh;
  border-radius: 50% 0 0 0 / 100% 0 0 0;
  background-color:rgb(69, 69, 192);
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Roboto', sans-serif; 
  margin-bottom: -20px;
}

.github_adress {
  display: flex;
  flex-direction: column;
  align-items: center;
}

aside {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 370px;
  right: 0;
  top: 0;
  background-color: rgba(255, 255, 255, .7);
  padding: 5px;
  border-radius: 0 0 0 5px;
}

a.social, i {
  color: rgba(0,0,0,.8);
}

img {
  width: 46px;
  border-radius: 10px;
}

h2 {
  font-size: 35pt;
  font-weight: 300;
  color: rgba(255, 255, 255, .9);
}

.preamble {
  display: flex;
  justify-content: space-between;
}

form {
  display: flex;
  flex-direction: column;
  background-color: rgb(235, 223, 223);
  padding: 15vh 20px 10px 20px;
  width: 400px;
  height: 100vh;
  background: linear-gradient(rgb(206, 57, 57),rgb(69, 69, 192));
}

input {
  padding: 15px;
  border-radius: 3px;
  margin: 10px 0;
  border: none;
}

.local_data {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.local_data input {
  display: flex;
  flex-direction: row;
  width: 49%;
  justify-content: space-evenly;
}

button[type=submit] {
  padding: 15px 0;
  border: none;
  margin-top: 10px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, .9);
}

input::placeholder, input[type=date],button[type=submit] {
  font-size: 12pt;
  font-family: 'Roboto';
  font-weight: 300;
}

input:hover, button[type=submit]:hover {
  cursor: pointer;
  background-color: rgba(0,0,0,.1);
}

@media (max-width: 900px) {
  form {
    width: 80%;
    background: linear-gradient(150deg,rgb(206, 57, 57),rgb(69, 69, 192));
  }
  .background-top, .background-bottom {
    display: none;
  }
  aside {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    width: 100%;
    background-color: rgba(255, 255, 255, .7);
    padding-bottom: 30px;
    border-radius: 0 0 50% 50%;
  }
}