@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');

html {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  background: black;
}

*:focus {
  outline: 0;
}

.container {
  margin-top: -22px;
  width: 100%;
  background: linear-gradient(225deg,black 60%,red,orange,yellow,white);
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 300;
  font-style: italic;
  margin-left: 20px;
  font-size: 40pt;
}

article {
  width: 100%;
  margin-bottom: 50px;
}

img.earth {
  position: relative;
  margin-top: -50px;
  z-index: -1;
  width: 600px;
  transform-origin: center center;
  animation: earthRotation 30s infinite linear;
  border-radius: 50%;
}

@keyframes earthRotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

header {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  color: white;
  background-color: black;
  height: 200px;
  padding: 20px 20px;
}

h2 {
  position: relative;
  z-index: 1;
  color: white;
  font-size: 30pt;
  font-weight: 300;
  font-style: italic;
  padding-left: 20px;
}

details {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  background-color: white;
  border-radius: 10px;
  margin: 10px auto;
  font-size: 15pt;
  padding: 25px;
  padding-right: 20px;
}

@media (min-width: 900px) {
  details {
    width: 40%;
  }
}

@media (max-width: 900px) {
  img.earth {
    width: 75%;
  }
  h1 {
    font-size: 30pt;
  }
}

details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}

details details {
  width: 80%;
  background-color: rgba(0,0,0,.2);
}

@keyframes sweep {
  0%    {opacity: 0; margin-left: -10px}
  100%  {opacity: 1; margin-left: 0px}
}

footer {  
  height: 30vh;
  padding: 10px 0 60px 20px;
  background-color: rgba(0,0,0,.2);
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

a {
  color: rgba(255, 255, 255, 0.842);
}

img.my_photo {
  width: 100px;
  border-radius: 50%;
  box-shadow: 3px 3px 10px black;
}

.social a {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgb(212, 55, 16);
  width: 70px;
  height: 70px;
  padding: 5px;
  border-radius: 50%;
}

img.anomaly {
  margin-top: 10px;
  width: 97%;
  border-radius: 10px;
}